body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 2rem 0 0.5rem 0;
}
h4 {
    margin: 0.5rem 0 0.25rem 0;
}

/* GRID */
.hstack {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
    .hstack {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}
.hstack > * {
    min-width: 0;
}
.vstack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* INPUTS */
label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
label:has(> input[type="checkbox"]) {
    flex-direction: row;
}
input[type="text"], input[type="number"], select, textarea {
    outline: none;
    border: 2px solid lightgrey;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    border-color: darkslategray;
}
select {
    appearance: none;
    border-radius: 0;
    outline: none;
}

/* Wrapper */

.wrapped {
    width: calc(100vw - 30px);
    max-width: 800px;
    margin: 0 auto;
}

textarea.bigbox {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 2/1;
    font-size: 1rem;
    resize: none;
    box-sizing: border-box;
}

/* Headings */
main h2::before {
    content: "# ";
    font-style: italic;
    color: lightgray;
} 

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #2c3e50;
    border-bottom: 2px solid lightgrey;
    padding: 1rem 0;

    & * {
        margin: 0;
        color: white;
    }

    & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & h1 {
        font-size: 1.2rem;
    }
}

main {
    margin-top: 5rem;
}
/*
main h2::before {
    content: "## ";
    font-style: italic;
    color: lightgray;
} */

/* Forms */

#render {
    color: black;
}
#output {
    border: 2px solid black;
    padding: 1rem;
}
dialog {
    /* position: absolute; */
    /* top: 0; */
    /* width: 100%; */
}